{% extends 'todo/base.html' %}
{% load static %}
{% block title %}
    Set New Password
{% endblock %}

{% block content %}
    <div class="tm-page-container mx-auto">
    {% if validlink %}
       <header class="tm-header text-center">
            <h1 class="tm-title text-uppercase"></h1>
            <h4>Please set new password</h4>
                {% for error in form.new_password1.errors %}
                    <h6>{{ error }}</h6>
                {% endfor %}
                {% for error in form.new_password2.errors %}
                    <h6>{{ error }}</h6>
                {% endfor %}
        </header>
        <section class="tm-section">
            <div class="tm-content-container">
                <div class="tm-content">
                    <form action="" method="POST" class="tm-contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" name="new_password1"
                                class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                                placeholder="Enter new password" required />
                        </div>
                        <div class="form-group">
                            <input type="password"name="new_password2"
                                class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                                placeholder="Confirm new password" required />
                        </div>

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary rounded-0">
                                Set password
                            </button> <br><br>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% else %}
        <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    {% endif %}
    </div>
{% endblock %}