{% extends 'todo/base.html' %}
{% load static %}
{% block title %}
    Email
{% endblock %}

{% block content %}
    <div class="tm-page-container mx-auto">
            <header class="tm-header text-center">
            <h1 class="tm-title text-uppercase"></h1>
            <h4>Please enter Your email</h4>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    <h6>{{ error }}</h6>
                </div>
            {% endfor %}
        </header>
        <section class="tm-section">
            <nav class="tm-nav">
                <ul>
                    <li  class="active">
                        <a href="{% url 'todo:login' %}"><span class="tm-nav-deco"></span>Login</a>
                    </li>
                    <li>
                        <a href="{% url 'todo:register' %}"><span class="tm-nav-deco"></span>Sign Up</a>
                    </li>
                </ul>
            </nav>
            <div class="tm-content-container">
                <div class="tm-content">
                    <form action="" method="POST" class="tm-contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" id="contact_name" name="email"
                                class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                                placeholder="Email" required />
                            </div>

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary rounded-0">
                                Send link
                            </button> <br><br>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}