{% extends 'todo/base.html' %}
{% load static %}
{% block title %}
    Change password
{% endblock %}

{% block content %}
  <div class="tm-page-container mx-auto">
              <header class="tm-header text-center">
            <h3 class="tm-title text-uppercase">Change password</h3>
                 {% if messages %}
                    {% for message in messages %}
                        <center><h5>{{ message }}</h5></center>
                    {% endfor %}
                {% endif %}
                {% for error in update_pass_form.new_password1.errors %}
                        {{ error }}
                {% endfor %}
                {% for error in update_pass_form.new_password2.errors %}
                        {{ error }}
                {% endfor %}
        </header>
    <section class="tm-section">
      <nav class="tm-nav">
        <ul>
            <li>
              <a href="{% url 'todo:todo' %}"><span class="tm-nav-deco"></span>Todo</a>
             </li>
        </ul>
      </nav>
      <div class="tm-content-container">
        <figure class="mb-0">
          <img src="{% static 'img/password.jpg' %}" alt="Image" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" name="old_password"
                                class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                                placeholder="Old password" required="" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="new_password1"
                                class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                                placeholder="Enter new password" required="" />
                        </div>
                         <div class="form-group">
                            <input type="password" name="new_password2"
                                class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                                placeholder="Confirm new password" required="" />
                        </div>

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary rounded-0">
                                Change Password
                            </button>
                        </div>
                    </form>
                </div>
      </div>
    </section>
  </div>
{% endblock %}